<ion-tabs (ionTabsDidChange)="cambiarPestana($event)">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="especies">
      <ion-icon [name]="pestanaActiva === 'especies' ? 'book' : 'book-outline'"></ion-icon>
      <ion-label>Especies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="acuarios">
      <ion-icon [name]="pestanaActiva === 'acuarios' ? 'water' : 'water-outline'"></ion-icon>
      <ion-label>Acuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="salud">
      <ion-icon [name]="pestanaActiva === 'salud' ? 'pulse' : 'pulse-outline'"></ion-icon>
      <ion-label>Salud</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon [name]="pestanaActiva === 'perfil' ? 'person' : 'person-outline'"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
