
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="especies">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Especies</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="acuarios">
      <ion-icon name="water-outline"></ion-icon>
      <ion-label>Acuarios</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="salud">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label>Salud</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

